/* =================== Sohne Breit =================== */
@font-face {
  font-family: "SohneBreit";
  src: url("/fonts/soehne-breit/SohneBreit-Dreiviertelfett.woff2") format("woff");
  font-weight: 600; /* Dreiviertelfett = SemiBold/600 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SohneBreit";
  src: url("/fonts/soehne-breit/SohneBreit-Extrafett.woff2") format("woff");
  font-weight: 800; /* Extrafett = ExtraBold/800 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SohneBreit-Buch";
  src: url("/fonts/soehne-breit/TestSohneBreit-Buch-BF663d89ca2ff42.otf") format("woff");
  font-style: normal;
  font-display: swap;
}

/* =================== Tailwind =================== */
@import "tailwindcss";

@theme {
  --color-background: #FDFFF5;
  --color-primary: #054C2E;
  --color-secondary: #E47839;
  --color-tertiary: #A5EBA4;
  --radius-custom-lg: 0.5rem;

  --font-sohne: "SohneBreit", sans-serif;
  --font-sohne-regular: "SohneBreit-Buch", sans-serif;
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(1.05); }
    to { opacity: 1; transform: scale(1); }
  }
  .animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
}

.viewport-box {
  width: 100%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-circle img {
  width: 50px;
  height: 50px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

